body { font-family: sans-serif; }
a { color: gray; }
a:hover { color: black; text-decoration: none; }
#content { margin-left: auto; margin-right: auto; border: 1px solid gray; border-radius: 10px; padding: 3px; width: 75%; }
h2, ul { margin-top: 0; margin-bottom: 0; }